listView {
    -fx-padding: 0;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
#filterAddingList ListCell {
    -fx-padding: 5px;

}
VBox {
    -fx-text-alignment: center;
}
Label {
    -fx-alignment: center;
}

TableView TableRow {
    -fx-font-size: 16px;
}
#filtersList {
    -fx-font-size: 16px;
}
#filtersList Button {
    -fx-alignment: center-right;
}
HBox {
    -fx-alignment: center;
}

.filter {
    -fx-padding: 5px;
    -fx-border-radius: 10px;
    -fx-border: solid 2px orange;
}
